.main-content-container {
    display: flex;
    flex-direction: row;
}

.container-left {
    margin-left: 8%;
}

.left-img {
    padding: 2px;
    width: 220px;
    height: 170px;
}

.left-middle-img {
    width: 445px;
    height: 200px;
}

.container-right {
    margin-left: 40px;
    padding-bottom: 15px;
}

.select {
    font-size: 16px;
    margin-top: 10px;
    color: #313131;
}

h2 {
    font-size: 16px;
    margin-top: 10px;
    color: #313131;
}

.payment-text {
    font-size: 16px;
    margin-top: 10px;
    color: #313131;
}

.payment-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.purchase-box {
    border: 2px solid gray;
    background: #F1B434;
    border-width: 0px;
    border-radius: 30px;
    color: #fff;
    width: 200px;
    margin-top: 20px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    height: 20px;
    padding-top: 8px;
}

.purchase {
    font-size: 15px;
}

.money {
    font-size: 15px;
}

.border-img {
    border: 2px solid #F1B434;
    border-radius: 20px;
    height: 180px;
}

.subscribe-box {
    border: 2px solid #F1B434;
    background: transparent;
    border-radius: 30px;
    color: #000;
    width: 200px;
    margin-top: 20px;
    border-color: #F1B434;
    margin-top: 20px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    height: 20px;
    padding-top: 8px;
}

.retry {
    display: flex;
    flex-direction: row;
    gap: 12px;
    margin-top: 10px;
    margin-left: 10px;
}

.retry-img {
    width: 16px;
    height: 16px;

}

.retry h1 {
    font-size: 14px;
    color: #313131
}

.cart-box {
    border: 2px solid #000;
    background: #000;
    border-radius: 30px;
    color: #fff;
    width: 250px;
    margin-top: 20px;
    margin-top: 20px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
    height: 20px;
    padding-top: 10px;
    text-align: center;
}

.cart-text {
    text-align: center;
    padding-left: 80px;
    padding-top: 10px;
}

.quantity {
    text-align: center;
    padding-left: 80px;
    padding-top: 10px;
}

.beauty-cont {
    border: 2px solid #f2f2f2;
    background: #F2F2F2;
    margin-top: 20px;
    border-radius: 24px;
}

.beauty-bundle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 10px;
}

.left-arrow {
    width: 10px;
    height: 20px;
    color: #d3cdcd;
}

.bundle-text {
    font-size: 20px;
    color: #313131;
}

.right-arrow {
    font-size: 20px;
    color: #313131;
}

.bundle-cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

.plus {
    text-align: center;
    margin-top: 50px;
}

.card-img {
    width: 120px;
    height: 120px;
    border: 2px solid #fff;
    background: #fff;
    border-radius: 28px;
}

.card-text {
    font-size: 18px;
    margin-left: 18px;
}

.name-cards {
    display: flex;
    flex-direction: row;
    gap: 85px;
    margin: 10px;
}

.small-card {
    display: flex;
    flex-direction: row;
    justify-content: end;
    border: 2px solid #313131;
    border-radius: 24px;
    width: 60px;
    margin-left: 20px;
    margin-top: 18px;
}

.small-card h1 {
    font-size: 12px;
}

.beauty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Roboto';
}

.beauty-amount {
    font-size: 12px;

}

.amount {
    text-decoration: line-through;
}

.span {
    color: #313131;
    font-size: 20px;

}

.save {
    color: #09801A;
    font-size: 20px;
}

.add-to-cart {
    border: 2px solid #313131;
    border-radius: 30px;
    color: #fff;
    width: 250px;
    height: 45px;
    margin-top: 20px;
    font-size: 14px;
    background-color: #313131;
}

.reward-cont {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.color-club-img {
    width: 50px;
    height: 50px;
}

.color-text {
    font-size: 18px;
    margin-top: 8px;
    padding: 5px;
}

.number {
    color: #F39C12;
    margin-top: 8px;
    gap: 20px;
    font-size: 24px;
}

.reward-cont p {
    margin-top: 8px;
    font-size: 20px;
}

.color-para {
    gap: 24px;
}

.delivery-details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #313131;
}

.delivery {
    font-size: 14px;
    line-height: 20px;
}

.delivery-date {
    font-size: 14px;
    line-height: 20px;
}

.line {
    color: #313131;
    border: 1px solid #e2dede;
    margin: 8px;
    width: 100%;
}

.info-img {
    width: 18px;
    height: 18px;
}

.payment {
    font-size: 14px;
    line-height: 20px;
}

.free-payment {
    font-size: 14px;
    line-height: 20px;
    color: #313131;
}

.umf-text {
    color: #313131;
    font-size: 16px;
    line-height: 20px;
}

.umf-scale {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 12px;

}

.umf-scale h1 {
    font-size: 14px;
    color: #888686;
    font-weight: 500;
}

.separator-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.separator {
    width: 70px;
}

.orange {
    border: 1px solid orange;
}

.red {
    border: 1px solid red;
}

.pink {
    border: 1px solid rgb(244, 14, 206);
}

.violet {
    border: 2px solid rgb(134, 3, 134);

}

.blue {
    border: 1px solid blue;
}

.green {
    border: 1px solid green;
}

.navy-blue {
    border: 1px solid navy;
}

.profile-cont {
    padding-top: 15px;

}

.taste-text {
    font-size: 14px;
    color: #5e5d5d;
}

.input-img {
    width: 100%;
}

.footer-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-text {
    font-size:16px;
    color: #5e5d5d;
}